* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body.container-all {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    margin-bottom: 70px;

    > h1.title {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 30px 0;
        background-image: url(../assets/bg-title.jpeg);
        background-size: cover;
        background-position: center;
        position: sticky;
        top: 0;
        z-index: 10;

        font-weight: bold;
        font-size: 24px;

        color: #fff;
    }

    > main.container-sections {
        width: 100%;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 20px;

        > section.container-info {
            width: 250px;
            height: 320px;

            position: relative;

            > div.container__player {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                background-image: url('../assets/bg-container__player.png');
                background-position: center;
                background-size: contain;

                padding: 50px 30px;

                > ul {
                    > li {
                        font-size: 14px;
                        font-weight: bold;

                        > span {
                            font-size: 15px;
                            font-weight: bold;

                            &.transform-hover:hover {
                                transition: all ease 0.5s;
                                font-size: 17px;
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                > h3 {
                    width: 100%;
                    height: 25px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                > ul {
                    height: calc(100% - 100px);

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                }
            }

            > div.container__league {
                transform: scale(0);

                > button {
                    width: 25px;
                    height: 25px;

                    border: none;
                    outline: none;
                    background-color: transparent;

                    cursor: pointer;

                    &:hover {
                        transition: all ease 0.5s;
                        transform: scale(130%);
                    }

                    > img {
                        width: 100%;
                        height: 100%;
                    }
                }

                > ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;

                    height: calc(100% - 100px);

                    padding: 0 20px;

                    > li {
                        color: #000;
                        font-size: 14px;
                        font-weight: bold;

                        > span {
                            font-size: 16px;
                            color: #000;

                        }
                    }

                }


                &.show {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: space-around;
                    align-items: center;

                    width: 80%;
                    height: 90%;

                    position: absolute;
                    top: 50%;
                    left: 50%;

                    background-color: rgba(224, 194, 2, 0.673);
                    backdrop-filter: blur(5px);

                    transform: scale(100%) translate(-50%, -50%);
                    transition: all ease 0.5s;
                    border-radius: 30px;
                }

            }
        }
    }

    > footer {
        width: 100%;
        height: 70px;

        position: fixed;
        bottom: 0;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        padding-right: 30px;

        background-image: url(../assets/bg-title.jpeg);
        background-size: cover;
        background-position: bottom;

        > a {
            width: 110px;
            height: 40px;
            > img {
                width: 100%;
                height: 100%;
                filter: invert(1);
            }
        }
    }
}